.TitleWrapper h1 {
    font-family: WorkSansBold;
    font-size: 60px;

    letter-spacing: 2.64px;
}

.TitleWrapper h2 {
    font-family: WorkSansThin;
    font-size: 44px;
    letter-spacing: 1.94px;

    margin-left: 35px;
}

@media screen and (max-width: 1050px) {
    .TitleWrapper h1{
        font-size: 44px;
    }

    .TitleWrapper h2{
        font-size: 32px;
    }
}

@media screen and (max-width: 750px) {
    .TitleWrapper h1{
        font-size: 34px;
    }

    .TitleWrapper h2{
        font-size: 22px;
    }
}